@font-face {
    font-family: quicksand;
    src: url(./assets/fonts/Quicksand-VariableFont_wght.ttf)
}

html {
    font-family: quicksand;
    font-weight: 700;
}

body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 112, 146);
}

.header {
    width: 100vw;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.main {
    height: calc(100vh - 150px)
}

.footer {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-radius: 1.625rem;
    background-color:rgba(2, 25, 54, 0.842);
    border: 2px solid rgba(2, 25, 54, 0);
    height: 35px;
    width: 280px;
}
.search-form:focus {
    border:2px solid white;
    color: white;
}

.search-location {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    height: 35px;
    width: 160px;
    padding: 0px;
    padding-left: 20px;
    font-weight: 800;
    font-size: 1rem;
    outline: none;
    border: none;
}
.search-location::placeholder {
    color: rgba(173, 173, 173, 0.89);
    font-weight: 600;
    font-size: 1rem;
}
.search-location:-webkit-autofill,
.search-location:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
    font-weight: 800;
    font-size: 1rem;
}

.search-icon {
    background-image: url(./assets/icons/search-icon-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    padding-right: 15px;
}
.search-icon:hover {
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-weather {
    width: 40rem;
    height: 400px;
    color: white;
}

.location-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.location-name {
    font-size: 2rem;
}
.date-time {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.507);
}

.weather-info {
    display: flex;
    height: 300px;
    margin-top: 20px;
}

.basic-weather {
    width: 35%;
}
.basic-icon-temp {
    display: flex;
    align-items: center;
}
.basic-weather-icon {
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    width: 4rem;
    height: 4rem;
}
.basic-temperature {
    font-size: 3rem;
    text-align: right;
}
.weather-description, .weather-feels-like {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 1.3rem;
}
.weather-feels-like {
    color: rgba(255, 255, 255, 0.507);
}

.data-item {
    display: none;
}
.data-label {
    color:rgba(255, 255, 255, 0.507);
}
.detailed-weather {
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    grid-template-rows: 33fr 33fr 33fr;
    width: 65%;
}
.data-item > :nth-child(2) {
    margin-top: 5px;
    font-size: 1.2rem;
}

.forecast-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hourly-forecast {
    background-color: white;
    width: 90vw;
    height: 200px;
    margin-top: 50px;
}

.daily-forecast {
    background-color: white;
    width: 50vw;
    height: 400px;
    margin-top: 50px;
}

